* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather-card {
  border: 1px solid #cccccc;
  border-radius: 9px;
  padding: 16px;
  margin: 10px 0;
}

.forecast-card {
  border: 1px solid #cccccc;
  border-radius: 9px;
  padding: 16px;
  margin: 10px 0;
}

.App {
  max-width: 600px;
  margin: 0px;
  text-align: center;
  padding: 20px;
}

.error {
  color: red;
}

.forecast {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  margin-right: 5px;
  padding: 10px;
}

button {
  padding: 10px;
}
